*{
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
}

.main-header{
    background-color: red;
    color: #fff;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.d-flex{
    display: flex;
}

.main-section{
    margin-top: 50px;
    padding: 0px 70px 0px 70px;
}

.vaccay-img{
    height: 400px;
    width: 350px;
    border-radius: 10px;
}

.vaccay-text{
    padding: 50px;
}

.vaccay-text-intro{
    gap: 20px;       
}


.vaccay-icon{
    color: red;
}

.capitalize{
    text-transform: capitalize;
}

.uppercase{
    text-transform: uppercase;
}

.google-map{
    color: grey;
    align-self: flex-end;    
}

.vaccay-country{
    align-self: flex-start;
}

.vaccay-h{
    margin-top: 0;
    font-weight: bold;
    font-size: 32px;
}

.vaccay-date{
    font-weight : bold;
}


    
@media (min-width:0px) and (max-width:600px){

    .main-section{
        padding:0px 30px 0px 30px ;
        flex-direction: column;
    }

    .main-header{
        justify-content: center;
    }

    .vaccay-p{
        width: 300px;
    }

    .vaccay-img{
        width: 320px;
        height: 350;
    }

}